<div class="bs_calendar">
  <%
    date_range = cal.date_range
    # start_date = cal.start_date

    date = date_range.first
    date_object = [date]

    while(date.to_s != date_range.last.to_s)
      date = travel(1, date)
      date_object << date
    end
  %>
 
  <%= link_to '&laquo; Previous'.html_safe, start_date: travel(-1, date_range[0]) %>
  <%= "#{cal.month_name}, #{cal.year}" %>
  <%= link_to 'Next &raquo;'.html_safe, start_date: travel(1, date_range[1]) %>

  <table class="table table-stripped">
    <thead>
      <tr>
        <% NepaliCalendar::BsCalendar::DAYNAMES[1..7].each do |day| %>
          <%= content_tag :th, day %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_object.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td do %>
              <%= block.present? ? block.call(day) : day %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>
